<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Ferramentas alocadas</h1>
    <div class="table-rents">
        <table border="1">
            <tr>
                <th>Ferramenta</th>
                <th>Cliente</th>
                <th>Devolução</th>
            </tr>
            {{#each tableToolsRented }}
                <tr>
                    <td>{{ this.toolName }}</td>
                    <td>{{ this.clientName }}</td>
                    <td>{{ this.dateDevolution }}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</body>
</html>