main{
    display: flex;
    justify-content: center;
}
.form-client{
    width: 40%;
    height: 30%;
}

.btn-submit{
    margin-top: 4px;
    background-color: #2b2a2a;
    border: 0;
}

.input-form{
    margin-bottom: 10px;
}

.msg-form-error{
    color: red;
}

.msg-form-sucess{
    color: rgb(40, 211, 40);
}